
.vs/miner/v15/Browse.VC.opendb
.vs/miner/v15/ipch/AutoPCH/60b4c57810e76944/MINER.ipch
/x64/Release
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/miner/v15/ipch/AutoPCH/accf8163852ea5db/MINER.ipch
/.vs/miner/v15/ipch/AutoPCH/b00a47445654de70/MINER.ipch
/.vs/miner/v15/ipch/AutoPCH/b5d32664fc32915b/MINER.ipch
/.vs/miner/v15/.suo
/.vs/miner-burst/v15/Browse.VC.db
/.vs/miner-burst/v15/.suo
*.log
*.tlog
/miner/x64/Debug/miner.obj
/miner/x64/Debug/sph_shabal.obj
/miner/x64/Debug/shabal.obj
/miner/x64/Debug/picohttpparser.obj
/miner/x64/Debug/mshabal_sse4.obj
/miner/x64/Debug/mshabal_avx2.obj
/miner/x64/Debug/mshabal_avx1.obj
/miner/x64/Debug/mshabal256_avx2.obj
/miner/x64/Debug/vc141.pdb
/miner/x64/Release/vc140.pdb
/miner/x64/Release/sph_shabal.sbr
/miner/x64/Release/sph_shabal.obj
/miner/x64/Release/sph_shabal.asm
/miner/x64/Release/shabal.obj
/miner/x64/Release/picohttpparser.sbr
/miner/x64/Release/picohttpparser.obj
/miner/x64/Release/picohttpparser.asm
/miner/x64/Release/mshabal_sse4.sbr
/miner/x64/Release/mshabal_sse4.obj
/miner/x64/Release/mshabal_sse4.asm
/miner/x64/Release/mshabal_avx2.sbr
/miner/x64/Release/mshabal_avx2.obj
/miner/x64/Release/mshabal_avx2.asm
/miner/x64/Release/mshabal_avx1.sbr
/miner/x64/Release/mshabal_avx1.obj
/miner/x64/Release/mshabal_avx1.asm
/miner/x64/Release/mshabal256_avx2.sbr
/miner/x64/Release/mshabal256_avx2.obj
/miner/x64/Release/mshabal256_avx2.asm
/miner/x64/Release/miner.sbr
/miner/x64/Release/miner.res
/miner/x64/Release/miner.obj
/miner/x64/Release/miner.asm
/miner/miner.vcxproj.user
/miner/stat.csv
/miner/miner.conf
/x64/Debug/miner.conf
/x64/Debug/pdcurses.lib
/.vs/miner/v15/ipch/AutoPCH/5f0357811744ca1f/SPH_SHABAL.ipch
/.vs/miner/v15/ipch/AutoPCH/f4ea216c61ff41f0
/miner/x64/Debug/vc140.pdb
/miner/x64/Debug/vc140.idb
/miner/x64/Debug/vc120.pdb
/miner/x64/Debug/vc120.idb
/miner/x64/Release/vc141.pdb
